{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="css/editions/edition-detail.css">
{% endblock %}

{% block content %}
<section class="edition-detail">
    <div class="edition-text">
        <div class="text-header">
            <h1>Edition Name</h1>
            <p><span>Edition Status:</span>{{edition.get_status_display}}</p>
            <div class="edition-actions">
                <a href="">Edit Edition</a>
                <a href="">Delete Edition</a>
            </div>
        </div>
        <hr class="detail-divider">
        <div class="text-detail">
            <p><span>Date:</span>{{edition.year}}</p>
            <p><span>Technique:</span>{{edition.get_technique_display}}</p>
            <p><span>Edition Type:</span>{{edition.get_edition_type_display}}</p>
            <p><span>Edition Size:</span>{{edition.edition_size}}</p>
            <p><span>Available Prints:</span>{{edition.available_prints}}</p>
        </div>
    </div>
</section>
<section class="addition-details">
    <p><span>Paper Size:</span>{{edition.paper_size}}</p>
    <p><span>Plate Size:</span>{{edition.plate_size}}</p>
    <p><span>Margin-Upper:</span>{{edition.margin_upper}}</p>
    <p><span>Margin-Lower:</span>{{edition.margin_lower}}</p>
    <p><span>Margin-Sides:</span>{{edition.margin_sides}}</p>

</section>
{% endblock %}