{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/confirm-delete.css" %}">
{% endblock %}

{% block content %}
<div class="confirm-container container-max-width">
    <div class="confirm-image">
        <img src="{% static "images/etching_press.png" %}" alt="etching press">
    </div>
    <div class="confirm-text">
        <div class="delete-header">
            <h1>Delete Edition?</h1>
        </div>
        <div class="confirm-content">
            <h2>Are you sure you want to delete {{edition.edition_name}}?</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <a href="{% url "edition_detail" edition.id %}" class="cancel-btn btn-accentone">Cancel</a>
                <button type="submit" class="btn-accenttwo delete-btn">Delete {{edition.edition_name}}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}