{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "confirm-delete.css" %}">
{% endblock %}

{% block content %}
<div class="delete-header">
    <h1>Delete {{paper.paper_name}}</h1>
    <div class="confirm-container">
        <h2>Are you sure you want to delete {{paper.paper_name}} in {{paper.paper_color}}?</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <a href="{% url "paper_index" %}">Cancel</a>
            <button type="submit">Delete {{paper.paper_name}}</button>
        </form>
    </div>
</div>
{% endblock %}
