{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/about.css" %}">
{% endblock %}

{% block content %}
<section class="about-hero container-max-width">
    <div class="about-img-container">
        <img class="about-img" src="{% static "images/intaglio_tools.png" %}" alt="intaglio tools">
    </div>
    <div class="hero-text">
        <h1>Edition</h1>
        <h3>A Printmaker's Archive</h3>
        <p>Edition is an all in one print edition manager designed and developed especially for printmakers. With Edition, you can have a digital tool to manage all your edition information. Keep organized so you can focus on printmaking.</p>
        <a href="{% url "signup" %}" class="btn-accentone about-btn">Get Started</a>
    </div>
</section>
<section class="about-features">
    <h2>Edition's Features</h2>
    <ul>
        <li>
            <img src="{% static "images/brayer.png" %}" alt="brayer">
            <p> Organize important edition information</p>
        </li>
        <li>
            <img src="{% static "images/baren.png" %}" alt="baren">
            <p>Keep track of ink and paper collections</p>
        </li>
        <li>
            <img src="{% static "images/squeege.png" %}" alt="squeegee">
            <p>View all your editions in on place</p>
        </li>
    </ul>
</section>

{% endblock %}
