{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <script defer src="{% static "js/mobile-nav.js" %}"></script>
    <title>Edition</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="container-max-width">
        <div>
            <h2>Edition</h2>
        </div>
        <button class="mobile-nav-toggle" aria-expanded="false"></button>
        <nav>
            <ul class="primary-nav" data-visible="false">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url "editions_index" %}">Editions</a></li>
                    <li><a href="{% url "inks_index" %}">Inks</a></li>
                    <li><a href="{% url "paper_index" %}">Papers</a></li>
                    <li>
                        <form action="{% url "logout" %}" method="post">
                            {% csrf_token %}
                            <button class="logout-btn btn-accenttwo" type="submit">Log Out</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url "signin" %}">Sign In</a></li>
                    <li><a href="{% url "signup" %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>