{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}

{% block content %}
<div class="home-image-container">
    <img src="{% static "images/lino_tools1.png" %}" class="home-img" alt="linocut tools, a brayer, and ink tube">
</div>
<section class='home-text'>
    <h1>Ink <br> Print <br> Archive.</h1>
    <p>Edition is an all in one print edition manager designed for all printmakers. Let edition help you keep track of all your print editoins in one place. So you can focus on creating, inking, and printing.</p>
    {% if user.is_authenticated %}
        <a href="{% url "editions_index" %}" class="btn-accentone home-btn">View Editions</a>
    {% else %}
        <a href="{% url "signup" %}" class="btn-accentone home-btn">Join Edition</a>
    {% endif %}
</section>
{% endblock %}