{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/editions/editions-index.css" %}">
{% endblock  %}

{% block content %}
<div class="editions-index-header container-max-width">
    <h1>Archived Editions</h1>
</div>
<hr class="divider container-max-width">
<section class="edition-container container-max-width">
    {% for edition in archive %}
        <div class='card'>
            <a href="{% url "edition_detail" edition.id %}">
                <div class="edition-img">
                    {% load cloudinary %}
                    {% cloudinary edition.image quality='auto' crop='lfill' width=300 height=300%}
                </div>
            </a>
        </div>
    {% endfor %}
</section>
{% endblock %}